
# Assuming those packages have the same name and are available on both
# guix and nix.
PKGS="sbcl gnumake bash codespell entr fd"

if has nix-shell; then
    use nix -p $PKGS
elif has guix; then
    use guix -p $PKGS
fi
