
# TODO Those are common lips implementations found in guix, I'm unsure
# about their name in nixpkgs
UNSURE="clisp ecl abcl gcl ccl"

# TODO cl-all https://github.com/Shinmera/cl-all

PKGS_COMMON="sbcl bash entr fd ${UNSURE}"

NIX_PKGS="gnumake codespell"
GUIX_PKGS="make python-codespell"


if has guix; then
    use guix --ad-hoc $PKGS_COMMON $GUIX_PKGS
elif has nix-shell; then
    use nix -p $PKGS_COMMON $NIX_PKGS
fi
