
PKGS_COMMON="sbcl bash entr fd"

NIX_PKGS="gnumake codespell"
GUIX_PKGS="make python-codespell"

if has nix-shell; then
    use nix -p $PKGS_COMMON $NIX_PKGS
elif has guix; then
    use guix --ad-hoc $PKGS_COMMON $GUIX_PKGS
fi
