# Only run pipelines for merge requests, tags, and protected branches.
workflow:
  rules:
    - if: $CI_PIPELINE_SOURCE == "merge_request_event"
    - if: $CI_COMMIT_TAG
    - if: $CI_COMMIT_REF_PROTECTED == "true"

include:
  - local: .gitlab/test-job.gitlab-ci.yml
    inputs:
      lisp-impl: sbcl
  # disabled:
  # 1. abcl fails to load asdf in the container...
  # 2. needs to push the container to gitlab
  # - local: .gitlab/test-job.gitlab-ci.yml
  #   inputs:
  #     lisp-impl: abcl
  # disable:
  # 1. need to add scripts/manifest-ccl.scm
  # 2. need to push the image to gitlab
  # - local: .gitlab/test-job.gitlab-ci.yml
  #   inputs:
  #     lisp-impl: ccl
  # disabled: need to fix 5 tests that are not portable (i.e. they
  # return things in a different order in sbcl and ecl)
  # - local: .gitlab/test-job.gitlab-ci.yml
  #   inputs:
  #     lisp-impl: ecl
  # disabled:
  #  1. need to add scripts/test-clasp.sh
  #  2. need to add scripts/manifest-clasp.scm
  #  3. need to push the container to gitlab
  # - local: .gitlab/test-job.gitlab-ci.yml
  #   inputs:
  #     lisp-impl: clasp

# Build public/ folder using org-publish on docs/
doc:
  image: docker:24.0.7
  services:
    - docker:24.0.5-dind
  script:
    - apk add --no-cache make bash
    - make public
  artifacts:
    paths:
      - public

pages:
  needs:
    - job: doc
      artifacts: true
  script:
    - echo "nothing to do!"
  rules:
    # automatically run on the default branch
    - if: $CI_COMMIT_REF_NAME == $CI_DEFAULT_BRANCH
    # otherwise, the job must be run manually
    - when: manual
  artifacts:
    paths:
      - public
