
# Only run pipelines for merge requests, tags, and protected branches.
workflow:
  rules:
    - if: $CI_PIPELINE_SOURCE == "merge_request_event"
    - if: $CI_COMMIT_TAG
    - if: $CI_COMMIT_REF_PROTECTED == "true"

.base:
  image: clfoundation/$LISP:latest
  variables:
    LISP: sbcl
    QUICKLISP_ADD_TO_INIT_FILE: "true"
    QUICKLISP_DIST_VERSION: "latest"
  before_script:
    - install-quicklisp
  script:
    - make test
  #rules:
  #  - when: manual

test:
  extends: .base
  variables:
    LISP: sbcl
  parallel:
    matrix:
      - STACK:
          - sbcl
          # TODO
          # - abcl
          # - ccl
          # - ecl


## The job "doc" will re-run the tests, but I'm keeping that
## redundancy because the job "test" will be expanded to work on
## multiple cl implementations.

# Build public/ folder using org-publish on docs/
doc:
  image: docker:24.0.7
  services:
    - docker:24.0.5-dind
  script:
    - apk add --no-cache make bash
    - make public
  artifacts:
    paths:
      - public

pages:
  needs:
    - job: doc
      artifacts: true
  script:
    - echo "nothing to do!"
  rules:
    - if: $CI_COMMIT_REF_NAME == $CI_DEFAULT_BRANCH
    - when: manual
  artifacts:
    paths:
      - public
